<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook Automation Test Suite">
    <test name="Facebook Test Cases">
        <classes>
            <class name="test.java.testcases.MessagePageTest"></class>
            <class name="test.java.testcases.LoginPageTest"></class>
            <class name="test.java.testcases.HomePageTest"></class>
        </classes>
    </test>
</suite>
